.company-content {
  background: $color-bg-body;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  top: $navbar-min-height;
  z-index: $zindex-company-content;
}

.company-content-logo {
  max-width: 120px;
}
