.user-story-section {
  margin-bottom: 10rem;
}

.other-customer-stories-section {
  border-top: 1px solid $gray-200;
}

.company-content {
  background: $color-bg-body;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  top: $top-company-content;
  z-index: $zindex-company-content;
}

.company-content-logo {
  max-width: 120px;
}
