{
  "extends": [
    "plugin:flowtype/recommended",
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "react/require-default-props": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 100
      }
    ]
  }
}
