# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
.envrc
# Build directory
public
.DS_Store
yarn-error.log

*.mo
src/locale/_build/
src/locale/de/messages.js
src/locale/en/messages.js
src/locale/fr/messages.js
