// BLOG FILTERS CSS
.blog-filters-wrapper {
  margin-bottom: 1.5rem;
}
.blog-filters-title {
  font-weight: bold;
  color: #37383c;

}
.blog-filters-subtitle {
  color: $gray-600;
  margin-top: 6px;
}
.blog-filters-row {
  margin-top: 1.5rem;
}
.blog-filters-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 0 0 20px;
  margin: -11px 0;

  &-item {
    padding: 11px 15px 11px 0;

    &--link {
      font-size: 14px;
      letter-spacing: 0.25px;
      font-weight: 600;
      border: 1px solid #cfd6e4;
      padding: 5px 8px;
      border-radius: 4px;
      line-height: 1.25;
      text-transform: capitalize;
      color: #37383c;
      cursor: pointer;
      transition: all 0.45s;
      &:hover,
      &:active,
      &:focus {
        color: $primary;
        border-color: $primary;
      }
    }
    &.selected {
      div {
        color: $primary;
        border-color: $primary;
        cursor: default;
      }
    }
  }
}

// BLOG GRID CSS
.post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.5rem;

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
.blog-card {
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: $box-shadow-lightest;
  &:after {
    position: absolute;
    width: 100%;
    content: "";
    height: 3px;
    background-color: $energetic-blue;
    left: 0;
    bottom: 0;
    transform: translateX(-110%);
    transition: all 0.35s;
  }

  &:hover,
  &:focus,
  &:active {
    &:after {
      transform: translateX(0%);
    }
  }

  &-wrapper {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-image--wrapper {
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 200px;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
  }

  &-content {
    padding: 1.35rem 1.5rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }

  &-tags {
    p {
      text-transform: uppercase;
      font-size: 0.75rem;
      line-height: 1.4;
      letter-spacing: 0.5px;
      font-weight: 600;
      padding: 0;
      color: $energetic-blue;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }

  &-title {
    h5 {
      color: #37383c;
      font-size: 1.125rem;
      line-height: 1.4 !important;

      @media (max-width: 767px) {
        font-size: 20px;
      }
    }
  }
  &-description {
    color: $gray-600;
    font-size: 0.85rem;
    line-height: 1.6 !important;
    margin-bottom: 1.25rem;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  &-author {
    display: flex;
    margin-top: auto;
    align-items: center;
    width: 100%;
    &--img-wrapper {
      width: 3.25rem;
      height: 3.25rem;
      overflow: hidden;
      border-radius: 150%;
      position: relative;
      object-fit: cover;
      @media (max-width: 767px) {
        width: 48px;
        height: 48px;
      }
      img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
    }
    &--name {
      display: flex;
      margin-left: 0.625rem;
      flex-direction: column;
      justify-content: center;
      p {
        color: #37383c;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 8px;
        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
      span {
        color: $gray-600;
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 1;
        @media (max-width: 767px) {
          font-size: 12px;
        }
      }
    }
  }
}

// FEATURED POST CSS
.featured-post {
  padding: 3rem 0;
  @media (min-width: 991px) {
    margin: 20px 0;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: 7fr 3fr;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }
  &-img {
    // background-color: #f6f6f6;
    height: max-content;
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-start;
    @media (min-width: 992px) {
      padding-left: 1.25rem;
    }
    @media (max-width: 991px) {
      margin-top: 1.25rem;
    }
  }
  &-tags {
    margin-bottom: 10px;
    p {
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1.4;
      letter-spacing: 0.5px;
      font-weight: 600;
      padding: 0;
      color: $energetic-blue;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
  &-title {
    margin-bottom: 10px;
    h5 {
      color: #37383c;
      font-size: 1.5rem;
      line-height: 1.4 !important;
      font-weight: 600;

      @media (max-width: 767px) {
        font-size: 20px;
      }
    }
  }
  &-description {
    color: $gray-600;
    font-size: 1rem;
    line-height: 1.6 !important;
    margin-bottom: 1.25rem;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  &-author {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    &--img {
      width: 3.75rem;
      height: 3.75rem;
      overflow: hidden;
      border-radius: 150%;
      position: relative;
      object-fit: cover;
      @media (max-width: 767px) {
        width: 48px;
        height: 48px;
      }
      img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
    }
    &--name {
      display: flex;
      margin-left: 0.625rem;
      flex-direction: column;
      justify-content: center;
      p {
        color: #37383c;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 8px;
        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
      span {
        color: $gray-600;
        font-size: 0.95rem;
        font-weight: 600;
        line-height: 1;
        @media (max-width: 767px) {
          font-size: 12px;
        }
      }
    }
  }
}
