
.container {
  @include media-breakpoint-up(xl) {
    max-width: 1050px;
  }
   @media screen and (min-width: 1440px) {
    max-width: 1200px !important;
  }
}

// Home Banner
.home-banner {
  min-height: 80vh;
}

.home-banner h1 {
  font-weight: bold;
  @include media-breakpoint-up(lg) {
    font-size: $huge-font-size;
  }
}

.home-banner h1 {
  max-width: 50vw;
}

// Footer
.footer {
  @include media-breakpoint-up(md) {
    &--logo-section {
     height: 100%;
    }
  }
  .nav-link {
    color: $white;
    padding-left: 0;
    transform: translateX(0px);
    transition: 300ms;
    &:hover {
      color: $vibrant-green;
      transition: 300ms;
      transform: translateX(-2px);
    }
  }
  .social-icon {
    font-size: 25px;
  }
}

.g2-badge, .capterra-badge {
  filter: grayscale(1);
}

.g2-badge {
  width: 80px;
  @include media-breakpoint-up(lg) {
    width: 100px;
  }
}

.capterra-badge {
  opacity: 0.85;
  width: 110px;
  @include media-breakpoint-up(lg) {
    width: 130px;
  }
}

// Forms
.form-error-message {
  bottom: -30px;
  left: 25px;
  min-height: 25px;
}

.form-control::placeholder {
  color: $gray-400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

// Custom underline
.custom-underline u {
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 6px;
    width: 100%;
    background-color: $vibrant-green;
    border-radius: $border-radius;
    z-index: 1;
  }
}

// Custom animated underline
.deco-link {
  position: relative;
  font-weight: 400;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    opacity: 0;
    transition: 300ms;
    transform: scale(0,1);
    background-color: $vibrant-green;
    border-radius: $border-radius;
    z-index: -1;
  }
  &:hover:after {
    opacity: 1;
    transform: scale(1);
  }
  @include media-breakpoint-up(md) {
    white-space: nowrap;
  }
}

// Feature
$deco-dot-size: 8px;

.feature-title-decoration,
.feature-list-item-decoration {
  position: relative;
  margin-left: 30px;
  &::before {
    content: '';
    position: absolute;
    width: $deco-dot-size;
    border-radius: 3px;
    background-color: $deep-blue;
    left: -25px;
  }
}

.feature-title-decoration::before {
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
}

.feature-list-item-decoration::before {
  top: 11px;
  height: $deco-dot-size;
}

// Expandable image

.expandable-image-wrapper {
  cursor: pointer;
  &:focus {
    outline: 2px solid $gray-300;
  }
}

// Selling prop
.selling-prop {
  margin-top: 5rem;
  &:not(:last-of-type) {
    margin-bottom: 5rem;
  }
}

// Pricing
@mixin pricing-border {
  border: 2px solid;
  border-color: $gray-200;
  border-radius: $border-radius * 5;
}

.pricing-col {
  flex: 1;
  @include media-breakpoint-down(md) {
    &:nth-of-type(1) {
      flex: 4;
    }
    &:nth-of-type(2) {
      flex: 3;
    }
  }
  margin: 0 0.5rem;
  overflow-x: scroll;
  &:not(:first-of-type) {
    @include pricing-border;
  }
}
.pricing-col.border-energetic-blue {
  border: 4px solid;
}

.pricing-plan {
  height: 210px;
  &.Premium { // will be renamed to Scaleup
    height: 250px;
  }
  &.Enterprise {
    height: 300px;
  }
  @include media-breakpoint-up(lg) {
    height: 300px !important;
  }
}

.investor-pricing-plan {
  @include pricing-border;
  li {
    height: 2.8rem;
  }
  &.border-energetic-blue {
    border: 4px solid;
  }
}


// Testimonials
.avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.testimonial-card {
  border: 1px solid $gray-300 !important;
  border-radius: 15px;
}

.testimonial {
  line-height: 1.8;
  small {
    font-weight: 300;
    &::before {
      content: '\2014';
      margin-right: 0.5rem;
    }
  }
}

.testimonial-image-wrapper{
  height: 40px;
  width: auto;
}

.testimonial-image {
  height: 100%;
  object-fit: cover;
}

.testimonial-description::before {
  content: '“';
  margin-left: -13px;
  padding-right: 4px;
}
.testimonial-description::after {
  content: '”';
  margin-right: -13px;
  padding-left: 4px;
}

.testimonial-description::before,
.testimonial-description::after {
  font-size: 1.5rem;
  line-height: 1;
  opacity: .5;
}


// Publicity banner

.publicity-banner {
  bottom: 18px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1010;
  width: 60vw;
  box-shadow: 0 5px 4px 0 rgba(0,0,0,.26);
  @include media-breakpoint-up(md) {
    width: 80vw;
  }
  p {
    margin-bottom: 0;
  }
}

.publicity-banner--button {
  font-size: 20px;
  line-height: 10px;
  transition: 200ms;
  top: 0;
  right: 0;
  color: $gray-700;
  @include media-breakpoint-up(lg) {
    top: 25%;
    transform: translate(0, -50%);
    right: 8px;
  }
  &:hover {
    background: $gray-100 !important;
    transition: 200ms;
  }
}

// Customer stories

.company-summary {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  top: calc(#{$navbar-min-height} + 15px);
  z-index: $zindex-company-summary;
}

.company-summary-logo {
  max-width: 150px;
}

.company-summary-quote {
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

// Newsletter
.newsletter {
  max-width: 600px;
}

// Calculator
.calculator {
  margin-top: 15%;
  @include media-breakpoint-up(lg) {
    width: 110%;
  }
}

.calculator-banner h1 {
  max-width: 800px;
}

// About
.ledgista {
  .ledgista-image-wrapper {
    width: 245px;
  }
  .social-icon {
    font-size: 20px;
  }
}

.about {
  border-top: 1px solid $gray-200;
  h5 {
    line-height: 0.6;
  }
  .gatsby-image-wrapper {
    width: 85px;
  }
}

// Card
.card {
  &-blog, &-customer-story {
    min-height: 250px;
  }
  &-blog .gatsby-image-wrapper {
    position: static !important;
  }
  &-image-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  &-more-stories {
    width: 220px;
    height: 350px;
  }
}

.accordion > .card {
  border: 1px solid $gray-300 !important;
  border-radius: $border-radius !important;
}

// Partners
.partner-card {
  height: 200px;
  max-width: 250px;
  overflow: hidden;
  border-radius: 5px;
  a {
    font-size: 0.75rem;
  }
  img {
    object-fit: unset !important;
  }
}

.partner-usp li {
  line-height: 2rem;
}

// Product hunt
.product-hunt-logo {
  width: 180px;
}

// Signatories
#signatories-coming-soon {
  .gatsby-image-wrapper {
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
  }
}

// Social icons
.social-icon {
  opacity: 0.75;
  color: $gray-500;
  &:hover {
    opacity: 1;
  }
}


// Border with accent
$border-width: 2px;
$padding-default: 1.25rem;
$padding-lg: 3rem;
@mixin getLeft($padding){
 left: calc(-#{$padding} - #{$border-width});
}

.left-border-with-accent {
  padding-left: $padding-default;
  border-left: $border-width solid $pale-energetic-blue;
  .accent-border {
    position: relative;
    &::before {
      @include getLeft($padding-default);
      content: '';
      position: absolute;
      width: $border-width;
      height: 100%;
      background-color: $energetic-blue;
    }
  }
  &-lg {
    padding-left: $padding-lg;
    .accent-border::before {
      @include getLeft($padding-lg);
    }
  }
}

// Content with checklist
.follow-along-line {
  border-left: 2px solid $pale-energetic-blue;
  span {
    width: 2px;
    background-color: $energetic-blue;
    transition: all 200ms;
  }
  .icon {
    color: $pale-energetic-blue;
    transition: all 200ms;
    &.active {
      color: $energetic-blue;
      transition: all 200ms;
    }
  }
}


// Selectable card
.selectable-card {
  cursor: pointer;
  transition: all 200ms;
  &:hover {
    transition: all 200ms;
    background-color: $gray-050 !important;
  }
}

.fluid-border-right {
  position: relative;
  transition: all 200ms;
  border-right: 2px solid $pale-energetic-blue;
  span {
    position: absolute;
    right: -2px;
    width: 2px;
    background-color: $energetic-blue;
    transition: all 200ms;
  }
}

.screenshot {
  box-shadow: $box-shadow-light;
  position: relative;
  z-index: $zindex-base;
  border-radius: 8px;
  img {
    border-radius: 8px;
  }
}

// Page wrappers
@mixin gray-deco-shape() {
  background-image: url("../img/svg/gray-deco-shape.svg");
  background-repeat: no-repeat;
}
.main-wrapper-1 {
 @include gray-deco-shape;
  background-position: -10% 25%;
}
.main-wrapper-2 {
 @include gray-deco-shape;
  background-position: 50% 90%;
}

