
// Dropdown

.dropdown-list {
  top: 0;
  left: 0;
}

// Navbar/HomeBanner

.home-banner {
  min-height: 75vh;
}

.home-banner, .navbar {
  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1350px;
    }
  }
}

.home-banner h1 {
  font-size: $huge-font-size;
  font-weight: bold;
}

.home-banner h1, .banner-text {
  max-width: 500px;
}

.navbar .btn {
  white-space: nowrap;
}


// Footer

.footer {
  .nav-link {
    color: $white;
    padding-left: 0;
  }
}
