@mixin deco-shape-base {
  z-index: $zindex-deco-shape;
  position: absolute;
  border-radius: 20px;
  transform: rotate(45deg);
}

@mixin deco-shape {
  @include deco-shape-base;
  @include media-breakpoint-up(md){
    border-radius: 40px;
    transform: rotate(35deg);
  }
  @include media-breakpoint-up(lg){
    transform: rotate(25deg);
  }
}

.top-deco-shape {
 @include deco-shape;
  &--one {
    background-color: $vibrant-green;
    width: 165px;
    height: 210px;
    left: -105px;
    top: 6%;
    @media (orientation: landscape) {
      top: 4%;
    }
    @include media-breakpoint-up(md){
      border-radius: 40px;
      left: -125px;
      height: 325px;
      width: 250px;
    }
    @include media-breakpoint-up(lg){
      transform: rotate(25deg);
      width: 400px;
      height: 600px;
      left: -200px;
      top: 8%;
    }
    @include media-breakpoint-up(xl){
      width: 600px;
      height: 1000px;
      left: -325px;
    }
  }
  &--two {
    background-color: $energetic-blue;
    width: 175px;
    height: 175px;
    right: -86px;
    top: -1%;
    @include media-breakpoint-up(md){
      width: 223px;
      height: 276px;
      right: -122px;
      top: 1%;
    }
    @include media-breakpoint-up(lg){
      width: 300px;
      height: 350px;
      right: -115px;
      top: -2%;
    }
    @include media-breakpoint-up(xl){
      width: 500px;
      height: 450px;
      right: -215px;
      top: 0%
    }
  }
}

.footer-deco-shape {
  @include deco-shape;
  background-color: $energetic-blue;
  width: 300px;
  height: 250px;
  left: -135px;
  bottom: 0;
  @include media-breakpoint-up(md){
    width: 500px;
    height: 250px;
    left: -150px;
    bottom: -45px;
  }
  @include media-breakpoint-up(lg){
    width: 800px;
    height: 400px;
    left: -165px;
    bottom: -200px;
  }
}

.one-pager-deco-shape {
  @include deco-shape-base;
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  @include media-breakpoint-up(lg) {
    border-radius: 30px;
  }
  &--one {
    background-color: $vibrant-green;
    width: 340px;
    height: 150px;
    left: -80px;
    bottom: -105px;
    @include media-breakpoint-up(lg) {
      width: 440px;
      height: 215px;
      left: -90px;
      bottom: -120px;
    }
   }
  &--two {
    background-color: $energetic-blue;
    width: 250px;
    height: 95px;
    left: 175px;
    bottom: -55px;
    @include media-breakpoint-up(lg) {
      width: 375px;
      height: 145px;
      left: 250px;
      bottom: -75px;
    }
   }
}

.tilted-background {
  will-change: transform;
  transform: rotate($background-rotate-degree);
  top: 0;
  left: -10vw;
  width: 120vw;
  height: 100%;
  &::before {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 10px;
    width: 40%;
    border-radius: $deco-line-radius;
    background-color:  $energetic-blue;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    height: 10px;
    width: 32%;
    border-radius: $deco-line-radius;
    background-color:  $vibrant-green;
    z-index: 5;
   }
  }

  @mixin new-deco-shape-base {
    z-index: $zindex-deco-shape;
    position: absolute;
    border-radius: 20px;
  }

  @mixin new-deco-shape {
    @include new-deco-shape-base;
    @include media-breakpoint-up(md){
      border-radius: 60px;
    }
  }

  $new-top-deco-one-width: 701px;
  $new-top-deco-one-height: 139px;
  $new-top-deco-two-width: 547px;
  $new-top-deco-two-height: 119px;

  .new-top-deco-shape {
   @include new-deco-shape;
    &--one {
      background-color: $vibrant-green;
      opacity: 0.84;
      width: 0.6*$new-top-deco-one-width;
      height: 0.6*$new-top-deco-one-height;
      left: 18%;
      top: 12%;

      @media (orientation: landscape) {
        top: 4%;
      }
      @include media-breakpoint-up(md){
        width: 0.8*$new-top-deco-one-width;
        height: 0.8*$new-top-deco-one-height;
        left: 20%;
        top: 16%;
      }
      @include media-breakpoint-up(xl){
        width: 0.8*$new-top-deco-one-width;
        height: 0.8*$new-top-deco-one-height;
        left: 36%;
        top: 24%;
      }
    }
    &--two {
      background-color: $energetic-blue;
      opacity: 0.9;
      width: 0.6*$new-top-deco-two-width;
      height: 0.6*$new-top-deco-two-height;
      left: 35%;
      top: 35%;

      @include media-breakpoint-up(md){
        width: 0.8*$new-top-deco-two-width;
        height: 0.8*$new-top-deco-two-height;
        left: 38%;
        top: 36%;

      }
      @include media-breakpoint-up(xl){
        width: 0.8*$new-top-deco-two-width;
        height: 0.8*$new-top-deco-two-height;
        left: 42%;
        top: 40%;
      }
    }
  }
