@mixin deco-shape-base {
  z-index: $zindex-deco-shape;
  position: absolute;
  border-radius: 20px;
  transform: rotate(45deg);
}

@mixin deco-shape {
  @include deco-shape-base;
  @include media-breakpoint-up(md){
    border-radius: 40px;
    transform: rotate(35deg);
  }
  @include media-breakpoint-up(lg){
    transform: rotate(25deg);
  }
}

.top-deco-shape {
 @include deco-shape;
  &--one {
    background-color: $vibrant-green;
    width: 165px;
    height: 210px;
    left: -105px;
    top: 6%;
    @media (orientation: landscape) {
      top: 4%;
    }
    @include media-breakpoint-up(md){
      border-radius: 40px;
      left: -125px;
      height: 325px;
      width: 250px;
    }
    @include media-breakpoint-up(lg){
      transform: rotate(25deg);
      width: 400px;
      height: 600px;
      left: -200px;
      top: 8%;
    }
    @include media-breakpoint-up(xl){
      width: 600px;
      height: 1000px;
      left: -325px;
    }
  }
  &--two {
    background-color: $energetic-blue;
    width: 175px;
    height: 175px;
    right: -86px;
    top: -1%;
    @include media-breakpoint-up(md){
      width: 223px;
      height: 276px;
      right: -122px;
      top: 1%;
    }
    @include media-breakpoint-up(lg){
      width: 300px;
      height: 350px;
      right: -115px;
      top: -2%;
    }
    @include media-breakpoint-up(xl){
      width: 500px;
      height: 450px;
      right: -215px;
      top: 0%
    }
  }
}

.footer-deco-shape {
  @include deco-shape;
  background-color: $energetic-blue;
  width: 300px;
  height: 250px;
  left: -135px;
  bottom: 0;
  @include media-breakpoint-up(md){
    width: 500px;
    height: 250px;
    left: -150px;
    bottom: -45px;
  }
  @include media-breakpoint-up(lg){
    width: 800px;
    height: 400px;
    left: -165px;
    bottom: -200px;
  }
}


.one-pager-deco-shape {
  @include deco-shape-base;
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  @include media-breakpoint-up(lg) {
    border-radius: 30px;
  }
  &--one {
    background-color: $vibrant-green;
    width: 340px;
    height: 150px;
    left: -80px;
    bottom: -105px;
    @include media-breakpoint-up(lg) {
      width: 440px;
      height: 215px;
      left: -90px;
      bottom: -120px;
    }
   }
  &--two {
    background-color: $energetic-blue;
    width: 250px;
    height: 95px;
    left: 175px;
    bottom: -55px;
    @include media-breakpoint-up(lg) {
      width: 375px;
      height: 145px;
      left: 250px;
      bottom: -75px;
    }
   }
}

.tilted-background {
  transform: rotate(8deg);
  height: 150%;
  width:120%;
  left:50%;
  margin-left: -10%;
}

.counter-tilted-background {
  transform: rotate(-8deg);
}

.tilted-background-deco-one {
  height: 10px;
  width:40%;
  border-radius: 0.25rem;
  background-color:  $energetic-blue;
}

.tilted-background-deco-two {
  height: 10px;
  width:32%;
  border-radius: 0.25rem;
  background-color: $vibrant-green ;
}



