
.custom-hover-list > li > a,
.custom-hover-list > li > p {
  color: $white;
  padding: 10px 20px;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
}

.custom-hover-list > li {
  position: relative;
  display: flex;
  justify-content: center;
}

.hover-dropdown-parent {
  opacity: 1;
  position: absolute;
  overflow: hidden;
  padding: 20px;
  top: -40px;
  border-radius: 2px;
  transition: all 1s;
  transform: translateY(100px);
  will-change: opacity;
  display: none;
  min-width: 300px;
}

.trigger-enter .hover-dropdown-parent {
  display: block;
}

.trigger-enter-active .hover-dropdown-parent {
  opacity: 1;
}

.dropdown-background {
  width: 100px;
  height: 100px;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 1px $gray-700;
  transform-origin: 50% 0;
  opacity: 0;
  transform: translateY($navbar-min-height);
}

.dropdown-background.open {
  opacity: 1;
}

.arrow {
  position: absolute;
  width: 14px;
  height: 14px;
  display: block;
  background: $white;
  transform: translateY(-50%) rotate(45deg);
  box-shadow: -2px -2px 4px -2px $gray-700;
  border-radius: 0.25rem 0 0 0;
}

.hover-dropdown-parent > li > div {
  line-height: 16px;
  font-size: 12px;
  color: $gray-600;
}
