@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('../../static/fonts/museo-sans-rounded-500.woff2') format('woff2'),
       url('../../static/fonts/museo-sans-rounded-500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('../../static/fonts/museo-sans-rounded-700.woff2') format('woff2'),
       url('../../static/fonts/museo-sans-rounded-700.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
