.header {
  $padding: 20px;

  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: $padding/3 + $navbar-min-height;
  padding-bottom: $padding/3;
  padding-right: $padding/6;
  padding-left: $padding/6;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding-top: $padding/2 + $navbar-min-height;
    padding-bottom: $padding/2;
    padding-right: $padding/3;
    padding-left: $padding/3;
  }

  @include media-breakpoint-up(lg) {
    padding-top: $padding/1.5 + $navbar-min-height;
    padding-bottom: $padding/1.5;
    text-align: left;
  }
  @include media-breakpoint-up(xl) {
    padding-top: $padding + $navbar-min-height;
    padding-bottom: $padding;
  }

  > .container,
  > .container-fluid {
    position: relative;
    height: 100%;
  }

  &.h-fullscreen {
    padding-top: $padding;
  }
}

.header-custom {
  min-height: 30vh;
}

#tablet-ledgy {
  transition: 200ms;
  margin-left: auto;
  margin-right: auto;
  @include media-breakpoint-up(md) {
    width: 75%;
    margin-top: 2.5%;
  }
  @include media-breakpoint-up(lg) {
    width: 105%;
    margin-top: 15%;
    }
  @include media-breakpoint-up(xl) {
    margin-top: 10%;
    width: 115%;
  }
}
