@import 'variables';

html, body {
  hyphens: auto;
  font-family: 'Open Sans';
  box-sizing: border-box;
}

html, body, div, a, li, button {
  font-size: $ledgy-font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Museo Sans Rounded';
  font-weight: normal;
  hyphens: auto;
}

h1 {
  font-size: $h1-font-size;
  hyphens: none;
}

h2 {
  font-size: $h2-font-size;
  line-height: 2.75rem;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

a {
  text-decoration: none !important;
  color: $energetic-blue;
  transition: 300ms;
  &:hover {
    color: $deep-blue;
    transition: 300ms;
  }
}

nav {
  position: relative;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
