@import 'variables';

html, body {
  hyphens: auto;
  font-family: 'Open Sans';
}

html, body, div, a, li, button {
  font-size: $ledgy-font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Museo Sans Rounded';
  font-weight: normal;
  hyphens: auto;
}

h1 {
  font-size: $h1-font-size;
  hyphens: none;
}

h2 {
  font-size: $h2-font-size
}

h3 {
  font-size: $h3-font-size
}

h4 {
  font-size: $h4-font-size
}

h5 {
  font-size: $h5-font-size
}

h6 {
  font-size: $h6-font-size
}

a {
  text-decoration: none !important;
}

p > a,
li > a {
  position: relative;
  font-weight: 400;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1.2rem;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 8px;
    opacity: 0;
    transition: 300ms;
    transform: scale(0,1);
  }
  &:hover:after {
    opacity: 1;
    transform: scale(1);
  }
  @include media-breakpoint-up(sm) {
    white-space: nowrap;
  }
}
