$spacing-6: 4rem;
$spacing-7: 5rem;
$spacing-8: 6rem;
$spacing-9: 7rem;

.p-6 {
  padding: $spacing-6;
}
.pt-6, .py-6 {
  padding-top: $spacing-6;
}
.pb-6, .py-6 {
  padding-bottom: $spacing-6;
}
.pr-6, .px-6 {
  padding-right: $spacing-6;
}
.pl-6, .px-6 {
  padding-left: $spacing-6;
}

.m-6 {
  margin: $spacing-6;
}
.mt-6, .my-6 {
  margin-top: $spacing-6;
}
.mb-6, .my-6 {
  margin-bottom: $spacing-6;
}
.mr-6, .mx-6 {
  margin-right: $spacing-6;
}
.ml-6, .mx-6 {
  margin-left: $spacing-6;
}

.p-7 {
  padding: $spacing-7;
}
.pt-7, .py-7 {
  padding-top: $spacing-7;
}
.pb-7, .py-7 {
  padding-bottom: $spacing-7;
}
.pr-7, .px-7 {
  padding-right: $spacing-7;
}
.pl-7, .px-7 {
  padding-left: $spacing-7;
}

.m-7 {
  margin: $spacing-7;
}
.mt-7, .my-7 {
  margin-top: $spacing-7;
}
.mb-7, .my-7 {
  margin-bottom: $spacing-7;
}
.mr-7, .mx-7 {
  margin-right: $spacing-7;
}
.ml-7, .mx-7 {
  margin-left: $spacing-7;
}

.p-8 {
  padding: $spacing-8;
}
.pt-8, .py-8 {
  padding-top: $spacing-8;
}
.pb-8, .py-8 {
  padding-bottom: $spacing-8;
}
.pr-8, .px-8 {
  padding-right: $spacing-8;
}
.pl-8, .px-8 {
  padding-left: $spacing-8;
}

.m-8 {
  margin: $spacing-8;
}
.mt-8, .my-8 {
  margin-top: $spacing-8;
}
.mb-8, .my-8 {
  margin-bottom: $spacing-8;
}
.mr-8, .mx-8 {
  margin-right: $spacing-8;
}
.ml-8, .mx-8 {
  margin-left: $spacing-8;
}

.p-9 {
  padding: $spacing-9;
}
.pt-9, .py-9 {
  padding-top: $spacing-9;
}
.pb-9, .py-9 {
  padding-bottom: $spacing-9;
}
.pr-9, .px-9 {
  padding-right: $spacing-9;
}
.pl-9, .px-9 {
  padding-left: $spacing-9;
}

.m-9 {
  margin: $spacing-9;
}
.mt-9, .my-9 {
  margin-top: $spacing-9;
}
.mb-9, .my-9 {
  margin-bottom: $spacing-9;
}
.mr-9, .mx-9 {
  margin-right: $spacing-9;
}
.ml-9, .mx-9 {
  margin-left: $spacing-9;
}
