.twocolumnsrow-wrapper {
  width: 100%;
  margin: 0 0 2.5rem 0;
  display: flex;
  flex-direction: column;
}
.twocolumnstabs {
  order: 2;
  padding-top: 1.5rem;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 992px) {
    justify-content: center;
    margin-top: 3.5rem;
  }
  @media (max-width: 767px) {
    order: 0;
    margin-top: 40px;
  }

  &-left {
    justify-content: flex-start;
    @media (max-width: 992px) {
      justify-content: center;
    }
  }
  &-wrapper {
    display: flex;
    align-items: center;
    max-width: 36.5rem;
    overflow-y: hidden;
    position: relative;
    mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 0) 100%
    );

    &::after {
      background-color: rgba(168, 156, 180, 0.3);
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      z-index: 5;
    }
    &::-webkit-scrollbar {
      width: 0;
      opacity: 0;
      display: none;
    }
  }
}
.twocolumnstabs-item {
  font-size: 1rem;
  cursor: pointer;
  padding-bottom: 0.625rem;
  position: relative;
  font-weight: 600;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  color:$gray-800;

  @media (max-width: 767px) {
    font-size: 0.85rem;
  }

  &.activeTab {
    color: $vibrant-green;
  }
  &:not(:last-child) {
    margin-right: 1.25rem;
  }
  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: $vibrant-green;
    z-index: 10;
  }
}
.twocolumnsrow-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32rem;

  &--hide-on-bd {
    @media (min-width: 768px) {
      display: none;
      opacity: 0;
      z-index: -1;
    }
  }
  @media (max-width: 992px) {
    height: 20rem;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    height: 100%;
  }
}

.textcolumn {
  max-width: 25rem;
  @media (max-width: 992px) {
    max-width: 20rem;
  }
  @media (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
  }

  &--hide-on-sd {
    @media (max-width: 767px) {
      display: none;
      opacity: 0;
      z-index: -1;
    }
  }

  &-right {
    order: 2;
  }
  &-title {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    color: $deep-blue;
    font-weight: 700;
    line-height: 1.2;
    @media (max-width: 992px) {
      font-size: 1.85rem;
    }
  }
  &-subtitle {
    text-transform: uppercase;
    @extend .text-gray-dark;
  }
  &-text {
    color: $gray-800;
    margin-bottom: 1.25rem;
  }
  &-link {
    a {
      color: $energetic-blue;
      position: relative;
      display: inline-block;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        background-color: $energetic-blue;
        height: 2px;
        bottom: 0;
        transform-origin: bottom right;
        transform: scaleX(0);
        transition: transform 0.35s ease-out;
      }

      &:hover::before,
      &:focus::before {
        transform-origin: bottom left;
        transform: scaleX(1);
      }

      @media (max-width: 992px) {
        font-size: 1rem;
      }
    }
  }
}

.imagecolumn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 35.5rem;
  padding: 20px;

  @media (max-width: 767px) {
    width: 100%;
  }

  &.image-right {
    padding-left: 4rem;

    @media (max-width: 767px) {
      padding: 0;
    }
  }
  &.image-left {
    padding-right: 4rem;
    @media (max-width: 767px) {
      padding: 0;
    }
  }
  .gatsby-image-wrapper {
    border-radius: 10px;
  }
  img {
    width: 100%;
  }
}
