.text-lg {
  font-size: 20px;
}

.min-width-110px {
  min-width: 110px;
}

.min-width-120px {
  min-width: 120px;
}

.position-absolute-top-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
