@import "node_modules/bootstrap/scss/bootstrap";

// Colors
$deep-blue:                       #1e2b46;
$energetic-blue:                  #43aadc;
$vibrant-green:                   #1edeb7;
$highlight-red:                   #e64c49;
$pale-energetic-blue:             #eaf5fa;

// the following adds our theme colors to the bootstrap theme-colors map
$theme-colors: (
  "blue": $deep-blue,
  "energetic-blue": $energetic-blue,
  "green": $vibrant-green,
  "red": $highlight-red,
  "pale-energetic-blue": $pale-energetic-blue,
  "primary": $deep-blue,
  "secondary": $pale-energetic-blue,
  "info": $energetic-blue,
  "success": $vibrant-green,
  "danger": $highlight-red,
);

$box-shadow: 0 1px 15px rgba(0,0,0,0.05) !default;
$navbar-min-height:         56px !default;

// Z-index master list
$zindex-company-summary:             999 !default;
$zindex-navbar:                     1000 !default;
$zindex-topbar:                     1001 !default;
$zindex-scrolltop:                  1000 !default;
$zindex-drawer:                     1000 !default;
$zindex-sidebar:                    1000 !default;
$zindex-offcanvas:                  1010 !default;
$zindex-popup:                      1010 !default;


// Line height
$line-height-xs:              1.3 !default;
$line-height-sm:              1.5 !default;
$line-height-lg:              2.2 !default;
$line-height-xl:              2.5 !default;


// Fonts
$ledgy-font-size:              16px;

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-semibold:        500;
$font-weight-bold:            700;

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.9;

$h1-font-size:                $ledgy-font-size * 2.5;
$h2-font-size:                $ledgy-font-size * 2;
$h3-font-size:                $ledgy-font-size * 1.75;
$h4-font-size:                $ledgy-font-size * 1.5;
$h5-font-size:                $ledgy-font-size * 1.25;
$h6-font-size:                $ledgy-font-size;

