// Colors
$white:                           #fff !default;
$gray-100:                        #f8f9fa !default;
$gray-200:                        #e9ecef !default;
$gray-300:                        #dee2e6 !default;
$gray-400:                        #ced4da !default;
$gray-500:                        #adb5bd !default;
$gray-600:                        #868e96 !default;
$gray-700:                        #495057 !default;
$gray-800:                        #343a40 !default;
$gray-900:                        #212529 !default;
$black:                           #000 !default; //#3b4752

$blue:                            #0086a9 !default; // 0068e6 // 0facf3
$indigo:                          #6610f2 !default;
$purple:                          #926dde !default;
$pink:                            #e83e8c !default;
$red:                             #ff4954 !default;
$orange:                          #ffbe00 !default;
$yellow:                          #ffba00 !default;
$green:                           #3cd458 !default;
$teal:                            #20c997 !default;
$cyan:                            #17a2b8 !default;

$box-shadow: 0 1px 15px rgba(0,0,0,0.05) !default;
$navbar-min-height:         56px !default;

// Social icons
$brand-colors: () !default;
$brand-colors: map-merge((
  "facebook":   #3b5998,
  "google":     #dd4b39,
  "gplus":      #dd4b39,
  "twitter":    #00aced,
  "linkedin":   #007bb6,
  "pinterest":  #cb2027,
  "git":        #666666,
  "tumblr":     #32506d,
  "vimeo":      #aad450,
  "youtube":    #bb0000,
  "flickr":     #ff0084,
  "reddit":     #ff4500,
  "dribbble":   #ea4c89,
  "skype":      #00aff0,
  "instagram":  #517fa4,
  "lastfm":     #c3000d,
  "soundcloud": #ff8800,
  "behance":    #1769ff,
  "envato":     #82b541,
  "medium":     #00ab6c,
  "spotify":    #1db954,
  "quora":      #a82400,
  "xing":       #026466,
  "snapchat":   #fffc00,
  "telegram":   #0088cc,
  "whatsapp":   #075e54,
  "rss":        #f26522,
), $brand-colors);


// Z-index master list

$zindex-company-summary:             999 !default;
$zindex-navbar:                     1000 !default;
$zindex-topbar:                     1001 !default;
$zindex-scrolltop:                  1000 !default;
$zindex-drawer:                     1000 !default;
$zindex-sidebar:                    1000 !default;
$zindex-offcanvas:                  1010 !default;
$zindex-popup:                      1010 !default;


// Line height

$line-height-xs:              1.3 !default;
$line-height-sm:              1.5 !default;
$line-height-lg:              2.2 !default;
$line-height-xl:              2.5 !default;


// Fonts

$font-size-base:              0.9375rem !default;
$font-size-xs:                0.875rem !default;
$font-size-sm:                0.9375rem !default;
$font-size-lg:                1.0625rem !default;
$font-size-xl:                1.125rem !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-semibold:        500 !default;
$font-weight-bold:            600 !default;

$font-weight-base:            $font-weight-light !default;
$line-height-base:            1.9 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

