// Colors
$deep-blue:                       #1e2b46;
$energetic-blue:                  #43aadc;
$vibrant-green:                   #1edeb7;
$highlight-red:                   #e64c49;
$pale-energetic-blue:             #eaf5fa;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// the following adds our theme colors to the bootstrap theme-colors map
$theme-colors: (
  "blue": $deep-blue,
  "energetic-blue": $energetic-blue,
  "green": $vibrant-green,
  "red": $highlight-red,
  "pale-energetic-blue": $pale-energetic-blue,
  "primary": $deep-blue,
  "secondary": $pale-energetic-blue,
  "info": $energetic-blue,
  "success": $vibrant-green,
  "danger": $highlight-red,
  "gray-neutral": $gray-500
);

$box-shadow:                        0 10px 20px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
$navbar-min-height:                 70px !default;

// Z-index master list
$zindex-company-summary:            999 !default;
$zindex-navbar:                     1000 !default;
$zindex-backdrop:                   1001 !default;
$zindex-popup:                      1010 !default;
$zindex-popup-toggler:              1011 !default;

// Line height
$line-height-xs:              1.3 !default;
$line-height-sm:              1.5 !default;
$line-height-lg:              2.2 !default;
$line-height-xl:              2.5 !default;


// Fonts
$ledgy-font-size:             16px;

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-semibold:        500;
$font-weight-bold:            700;

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.9;

$h1-font-size:                $ledgy-font-size * 2.5;
$h2-font-size:                $ledgy-font-size * 2;
$h3-font-size:                $ledgy-font-size * 1.75;
$h4-font-size:                $ledgy-font-size * 1.5;
$h5-font-size:                $ledgy-font-size * 1.25;
$h6-font-size:                $ledgy-font-size;
$huge-font-size:              50px;
