

@include media-breakpoint-up(md) {
  html, body {
    font-size: 1.1rem !important;
    hyphens: auto;
  }
}

p > a {
  border-bottom: 1px solid $color-primary;
  padding-bottom: 1px;
}
.text-white a {
  border-bottom-color: rgba(255, 255, 255, 0.8);
}

.text-white p {
  color: $gray-100;
}

.bg-ledgy {
  background-image: linear-gradient(135deg, #20a8d8 0%, #00afc9 100%);
}
.nav-link {
  font-size: 0.8em !important;
}
.btn {
  font-size: 0.8em;
}
.nav-navbar .nav-link, .btn {
  text-transform: none;
  font-weight: 400;
}
.stick .btn-outline-light {
  color: $color-primary;
  border-color: $color-primary;
}
h1, h2, h3, h4, h5, h6 {
  hyphens: auto;
}
h1 {
  hyphens: none;
}
.footer {
  line-height: 1.9;
}
.partner {
  max-width: 1200px;

  img {
    margin: 0
  }
}
.section-header p {
  font-size: inherit;
}
.btn {
  font-size: 0.6em;
}
.btn-xl {
  font-weight: 400;
  font-size: 0.8em;
}
.signup {
  max-width: 600px;
}
.footer {
  line-height: normal;
  a {
    margin-bottom: 0.7em;
  }
}
.imprint h6 {
  margin-bottom: 0;
}
.pricing-3 {
  h6 { height: 2rem }
  h4 { height: 4.5rem }
  li {
    position: relative;
    height: 3em;
    line-height: 1.0;
  }
}

.container-small {
  max-width: 760px;
}
